<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
    hi welcome to this session for the classroom:
    <table >
            <caption>Session Details</caption>
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Handled By</th>
                    <th>Session Date</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Status</th>
                    <th>Session Key</th>
                    <th>Reviewed</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{.DepartmentName}}</td>
                    <td>{{.CourseName}}</td>
                    <td>{{.TeacherName}}</td>
                    <td>{{.SessionDetails.Date}}</td>
                    <td>{{.SessionDetails.Start_time}}</td>
                    <td>{{.SessionDetails.End_time}}</td>
                    <td>{{.SessionDetails.Status}}</td>
                    <td>{{.SessionDetails.SessionKey}}</td>
                    {{ $Reviewed := .SessionDetails.Reviewed }}
                    {{ if $Reviewed }}
                        <td> Yes </td>
                    {{ else }}
                        <td> No</td>
                    {{end}}
                </tr>
            </tbody>
    </table>

    <table>
        <caption>Student Attendance</caption>
        <thead>
            <th>Student Name</th>
            <th>Register Number</th>
            <th>Fair Image</th>
            <th>Attendance 1</th>
            <th>Time</th>
            <th>Attendance 2</th>
            <th>Time</th>
            <th>Attendance 3</th>
            <th>Time</th>
            {{ $Reviewed := .SessionDetails.Reviewed }}
            {{ $Status := .SessionDetails.Status}}
            {{if and (eq $Status "CLOSED") ( not ( $Reviewed )) }}
                <th colspan="2">Review</th>
            {{else if and (eq $Status "CLOSED") ( $Reviewed ) }}
                <th colspan="2">Reviewed</th>    
            {{ end }}
        </thead>
        <tbody>
            {{ range .Attendees }}
                <td>{{ .StudentName }}</td>
                <td>{{ .Regnumber }}</td>
                <td> <img src="{{ .FairImage }}"  alt="Blank"  height="70" width="120" ></td>
                <td><img src = '{{ .Attendance1.ImageFilePath }}'   alt="Blank" height="70" width="120"></td>       
                <td>{{ .Attendance1.PrettyTime }}</td>
                <td><img src="{{ .Attendance2.ImageFilePath }}" alt="Blank" height="100" width="120"></td>
                <td>{{ .Attendance2.PrettyTime }}</td>
                <td><img src="{{ .Attendance3.ImageFilePath }}" alt="Blank" height="100" width="120"></td>
                <td>{{ .Attendance3.PrettyTime }}</td>
                {{if and (eq $Status "CLOSED") ( not ( $Reviewed )) }}
                    <td> 
                        <input type="radio" id = "attendance" name="{{ .Regnumber }}" value="ABSENT" >
                        <label for="{{ .Regnumber }}">Absent</label><br>
                    </td>
                    <td>
                        <input type="radio" id = "attendance" name="{{ .Regnumber }}" value="PRESENT">
                        <label for="{{ .Regnumber }}">Present</label><br>  
                    </td>
                {{else if and (eq $Status "CLOSED") ( $Reviewed ) }}
                    {{ if .IsPresent }}   
                        <td>Present</td>
                    {{ else }}  
                        <td>Absent</td>  
                    {{ end}}
                {{ end }}
            {{ end }}
        </tbody>

        {{if and (eq $Status "CLOSED") ( not ( $Reviewed )) }}
         <div id="response"></div>
         <button id="post-attendance-btn" type="button">POST ATTENDANCE</button>
        {{ end }}
    </table> 

    <script src="/static/classroom/ts/sessiondashboard.js"></script>
</body>
</html>