<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
    hi welcome to this session for the classroom:
    <table >
            <caption>Session Details</caption>
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Handled By</th>
                    <th>Session Date</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Status</th>
                    <th>Session Key</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{.DepartmentName}}</td>
                    <td>{{.CourseName}}</td>
                    <td>{{.TeacherName}}</td>
                    <td>{{.SessionDetails.Date}}</td>
                    <td>{{.SessionDetails.Start_time}}</td>
                    <td>{{.SessionDetails.End_time}}</td>
                    <td>{{.SessionDetails.Status}}</td>
                    <td>{{.SessionDetails.SessionKey}}</td>
                </tr>
            </tbody>
    </table>

    <table>
        <caption>Student Attendance</caption>
        <thead>
            <th>Student Name</th>
            <th>Register Number</th>
            <th>Fair Image</th>
            <th>Attendance 1</th>
            <th>Time</th>
            <th>Attendance 2</th>
            <th>Time</th>
            <th>Attendance 3</th>
            <th>Time</th>
            {{ $Review := .Review}}
            {{ if $Review}}
                    <th colspan="2">Review </th>
            {{ end }}
        </thead>
        <tbody>
            {{ range .Attendees }}
            <td>{{ .StudentName }}</td>
            <td>{{ .Regnumber }}</td>
            <td> <img src="{{ .FairImage }}"  alt="Blank"  height="70" width="120" ></td>
            <td><img src = '{{ .Attendance1.ImageFilePath }}'   alt="Blank" height="70" width="120"></td>       
            <td>{{ .Attendance1.PrettyTime }}</td>
            <td><img src="{{ .Attendance2.ImageFilePath }}" alt="Blank" height="100" width="120"></td>
            <td>{{ .Attendance2.PrettyTime }}</td>
            <td><img src="{{ .Attendance3.ImageFilePath }}" alt="Blank" height="100" width="120"></td>
            <td>{{ .Attendance3.PrettyTime }}</td>
            {{ if $Review }}
                <td> 
                    <input type="radio" id="{{  .Regnumber }}" name="attendance" value="30">
                    <label for="age1">Absent</label><br>
                </td>
                <td>
                    <input type="radio" id="{{  .Regnumber }}" name="attendance" value="60">
                    <label for="age2">Present</label><br>  
                </td>
            {{ end }}
            {{ end }}
        </tbody>
    </table>

    <script src="/static/classroom/ts/sessiondashboard.js"></script>
</body>
</html>