<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar head-bg d-flex justify-content-center" style = "min-height: 10vh;">
        <div class="navbar-brand head-content" >
            Your Sessions
        </div>
    </nav>
    <div class="container flex-row mt-5 ">
        <div>
            <table id="session-table" class="table table-borderless table-dark table-striped mt-4">
                <thead>
                    <tr>
                        <th>SESSION DATE</th>
                        <th>START TIME</th>
                        <th>END TIME</th>
                        <th>STATUS</th>
                        <th>DETAILS</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Sessions}}
                    <tr>
                        <td>{{.Date.Format "2006-01-02"}}</td>
                        <td>{{.Start_time.Format "15:04:05"}}</td>
                        <td>{{.End_time.Format "15:04:05"}}</td>
                        <td>{{.Status}}</td>
                        <td><button id="session" class="btn btn-primary"
                                onclick="window.location.href += '/sessiondashboard/{{.SessionId}}'">OPEN</button></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-borderless table-dark table-striped  mt-4 " style="width: 100%;">
                <tr>
                    <td>Start Time</td>
                    <td><input type="time" id="start_time"></td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td><input type="time" id="end_time"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"> <button type="button" class="btn btn-primary"
                            id="submitBtn">Start</button></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <p id="response"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <h2>Student belonging to this classroom</h2>
        <table id="student-table" class="table table-borderless table-dark table-striped  mt-4">

            <thead>
                <th>Student Name</th>
                <th>Register Number</th>
                <th>Image</th>
                <th>Email</th>
            </thead>
            <tbody>
                {{ range .Students }}
                <tr>
                    <td>{{ .Studentname }}</td>
                    <td>{{ .Regnumber }}</td>
                    <td><img src='{{ .Image }}' onerror='this.src ="/static/classroom/assets/noimage.jpg"'
                            alt="No Attended" height="100" width="120"></td>
                    <td>{{ .Email }}</td>
                </tr>
                {{ end }}
            </tbody>

        </table>

    </div>
    <div class="container">
        <table class="table table-borderless table-dark table-striped  mt-4" style="width: 100%;">
            <tr>
                <td><input type="text" id="add-student" placeholder="yyyyxxzzzz"></td>
                <th> <button type="button" id="add-student-btn" class="btn btn-success" style = "width:35%">Add student</button></th>
                <td id="add-student-response"></td>
            </tr>
            <tr>
                <td><input type="text" id="remove-student" placeholder="yyyyxxzzzz"></td>
                <th><button type="button" id="remove-student-btn" class="btn btn-danger" style = "width:35%"> Remove Student </button></th>
                <td id="remove-student-response"></td>
            </tr>
        </table>



    </div>
    <style>
        body{background: white; font-family: Arial;}
        .head-bg{background : rgba(44,49,53,255);color :white}
        .head-content{font-size: 2em; font-family:arial; font-weight: bolder;}
    </style>

   



    <script src="/static/classroom/ts/classroomdashboard.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#session-table').DataTable();
        });
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.open($(this).data("href"), '_blank');
            });
        });

        $(document).ready(function () {
            $('#student-table').DataTable();
        });
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.open($(this).data("href"), '_blank');
            });
        });


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>